 /* Basic styling for the dropdowns */
 select {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  /* Style for the details box */
  #detailsBox {
    margin-top: 20px;
    padding: 35px;
    width: auto;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 26px;
  }

  /* Style for the container */
  .container41 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(to right, #ff8a00, #da1b60, #007bff, #00b74a);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }

  /* Style for the form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Style for the dropdown container */
  .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  /* Style for the dropdown */
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Style for the dropdown label */
  .dropdown label {
    margin-bottom: 5px;
    color: #333;
  }

  /* Animated background */
  body {
    background: linear-gradient(to right, #ff8a00, #da1b60, #007bff, #00b74a);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
