#body1 {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  text-align: center;
}

h1 {
  color: red;
}

p {
  color: saddlebrown;
  margin-top: 20px;
}