
  
  .grid-container {
    display: grid;
    height: 450px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 35px;
    background-color: black;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
  }
  
  .grid-container > div:nth-child(odd) {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); /* Adjust color as needed */
  }
  
  .grid-container > div:nth-child(even) {
    background-color: #042850 /* Adjust color as needed */
  }

  .gif-img {
    width: 40px;
    height: auto;
  }

  /* Text change when hovering */
.hover-text:hover span {
    display: none;
}

.hover-text:hover::after {
    content: " - fill out the form now";
    color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  @media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: auto;
    }
  }