
section {
    padding: 20px;
}

ul {
    list-style-type: none;
}

#admissions {
    background-color: #fff;
}

#online-courses {
    background-color: #f9f9f9;
}

#placement-scholarships {
    background-color: #fff;
}
